body {
  background-color: silver; /* #155263; */
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin-top: 0;
  color: black;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
h2 {
  color: crimson;
}
p {
  margin: 0;
    line-height: 3;
  font-family: 'Montserrat', sans-serif;
}
hr {
  border: dotted red 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.footer-link {
  color: red;
  padding: 10px;
}
.footer-link:hover {
  color: white;
}
.skill-p {
  text-align: left;
}
.title {
  border: solid 10px;
  border-color: black;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
/*  line-height: 2;  */
}
.rocket {
  width: 30%;
}
.website {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fire {
  float: right;
  width: 30%
}
.profile {
  width: 50%;
  margin: 100px auto 100px auto;
}
.contact-me {
  margin: 20px auto;
}
.top {
  background-color: #ff6f3c;
/*  display: inline-block;  */
  position: relative;
  padding-top: 20px;
}
.middle {
/*  background-color: #ff9a3c;
  width: 200px;
  height: 200px;
  margin: 100px 0;
  border: dotted 10px;*/
}
.bottom {
  background-color: #ffc93c;
  padding: 20px
/*  width: 200px;
  height: 200px;
  border: dashed 5px;
  margin-left: 400px */
}
.cloud1 {
  position: absolute;
  right: 450px;
  top: 400px;
}
.cloud2 {
  position: absolute;
  left: 400px;
  bottom: 200px;
}
.mount {
  margin: 0 auto 10.5% auto;
  position: relative;
  top: 165px;
}
.BUTTON_WQG {
   background: #F63D3D;
   background-image: -webkit-linear-gradient(top, #F63D3D, #8A0404);
   background-image: -moz-linear-gradient(top, #F63D3D, #8A0404);
   background-image: -ms-linear-gradient(top, #F63D3D, #8A0404);
   background-image: -o-linear-gradient(top, #F63D3D, #8A0404);
   background-image: linear-gradient(to bottom, #F63D3D, #8A0404);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #FFFFFF;
   -webkit-box-shadow: 1px 1px 20px 0px #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0px #FFFFFF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_WQG:hover {
   border: solid #000000 1px;
   background: #F5FF72;
   background-image: -webkit-linear-gradient(top, #F5FF72, #FFFB04);
   background-image: -moz-linear-gradient(top, #F5FF72, #FFFB04);
   background-image: -ms-linear-gradient(top, #F5FF72, #FFFB04);
   background-image: -o-linear-gradient(top, #F5FF72, #FFFB04);
   background-image: linear-gradient(to bottom, #F5FF72, #FFFB04);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
